html, body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5FFF5;
  color: #73807A;
}
@media screen and (min-width: 575px) {
  body {
    min-height: 60vh; 
  }
}
a {
  color: #807573; 
}
a:visited {
  color: #807573;
}
#pattern {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
#content {
  background-color: rgba(229, 255, 245, 0.66);
  font-family: "Quicksand", "Helvetica", "Arial", sans-serif;
  padding: 1em;
  border-style: solid;
  border-width: 0.05em;
  border-color: #29332F;
  color: #29332F;
  font-color: #29332F;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  margin-top: 1em;
  padding-left: 1em;
  line-height: 1.75em;
}
